<h1 class="page-header">Edit author</h1>
<Form action="/authors/<%= author.id %>?_method=PUT" method="POST">
  <%- include('_form_new')%>
  <div class="btn-row form-row-end">
    <a class="btn btn-danger" href="/authors/<%= author.id %>">Cancel</a>
    <button class="btn btn-primary" type="submit">Update</button>
  </div>
</Form>
