<h1 class="page-header">Edit author</h1>
<Form action="/authors/<%= author.id %>?_method=PUT" method="POST">
  <%- include('_form_new')%>
  <a href="/authors/<%= author.id %>">Cancel</a>
  <button type="submit">Update</button>
</Form>
